<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9d5e85e1-7f19-4773-a9d5-e9d276ff4725/resourceGroups/pullups-resource-3/providers/Microsoft.Web/sites/pullups-norge</ResourceId>
    <ResourceGroup>pullups-resource-3</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://pullups-norge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pullups-norge.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pullups-norge</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pullups-norge</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>